.container {
  @apply absolute w-[1000px] top-[150px] left-[525px] rotate-[10deg];
  .box {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 450px;
    img {
      position: absolute;
      width: 250px;
      height: 450px;
      object-fit: cover;
    }
  }
}
