@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-5 {
    animation-delay: 0.2s;
  }
  .animation-delay-10 {
    animation-delay: 0.5s;
  }
  .animation-delay-15 {
    animation-delay: 0.7s;
  }
  .animation-delay-20 {
    animation-delay: 1s;
  }
}

* {
  @apply m-0 p-0 box-border;
}

img {
  @apply rounded-3xl;
}
.startBtn {
  @apply rounded-full bg-gradient-to-r from-start-blue  to-start-cyan h-14 w-52 text-color-text font-lalezar stroke-black text-3xl hover:opacity-75 transition-all active:translate-y-1;
}

.greenbtn {
  @apply rounded-full w-36 h-8 text-white font-lalezar hover:opacity-80 active:translate-y-0.5 bg-grens mb-5 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-green-400 duration-150;
}

.redbtn {
  @apply rounded-full w-36 h-8 text-white font-lalezar hover:opacity-80 active:translate-y-0.5 bg-reds transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-red-400 duration-150;
}

.whitebtn {
  @apply rounded-full w-28 h-8 font-lalezar hover:opacity-80 active:translate-y-0.5 bg-whites text-black transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-400 duration-150;
}

.violetbtn {
  @apply rounded-full w-24 h-8 text-white font-lalezar hover:opacity-80 active:translate-y-0.5 bg-violets transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-150;
}
