@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-5 {
    animation-delay: 0.2s;
  }
  .animation-delay-10 {
    animation-delay: 0.5s;
  }
  .animation-delay-15 {
    animation-delay: 0.7s;
  }
  .animation-delay-20 {
    animation-delay: 1s;
  }
}

* {
  @apply m-0 p-0 box-border;
}

img {
  @apply rounded-3xl;
}
.startBtn {
  @apply rounded-full bg-gradient-to-r from-start-blue  to-start-cyan h-14 w-52 text-color-text font-lalezar stroke-black text-3xl hover:opacity-75 transition-all active:translate-y-1;
}

.whitebtn {
  @apply rounded-full w-28 h-8 font-lalezar hover:opacity-80 active:translate-y-0.5 bg-whites text-black transition ease-in-out delay-150  hover:bg-slate-400 duration-150;
}

.mainbtn {
  @apply flex items-center justify-center rounded-md font-lalezar bg-slate-400  active:translate-y-1  text-zinc-600 hover:text-gray-300 hover:bg-slate-500 hover:border-solid hover:border-slate-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] transition duration-300;
}

.addtomarketbtn {
  @apply flex justify-center rounded-md font-lalezar bg-yellow-500  active:translate-y-1  text-slate-100  hover:bg-yellow-400 hover:border-solid hover:border-slate-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] transition duration-300;
}

.pricebtn {
  @apply flex items-center justify-center rounded-md font-lalezar bg-red-600  active:translate-y-1  text-gray-300 hover:bg-red-700 hover:border-solid hover:border-slate-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] transition duration-500;
}

.connectwalletbtn {
  @apply flex items-center justify-center rounded-md font-lalezar bg-red-500  active:translate-y-1  text-gray-300 hover:bg-rose-600 hover:border-solid hover:border-slate-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] transition duration-300;
}

.redbtn {
  @apply mt-2 flex items-center justify-center font-lalezar align-middle bg-rose-600 rounded-lg w-52 h-8 text-xl  text-gray-300 hover:bg-rose-500 hover:shadow-slate-500 leading-normal transition duration-200;
}

.disabledredbtn {
    @apply flex items-center justify-center font-lalezar align-middle bg-rose-800 rounded-lg w-52 h-8 text-xl  text-gray-300 hover:bg-rose-900 hover:shadow-slate-500 leading-normal transition duration-200;
}

.enterbtn {
    @apply flex items-center justify-center font-lalezar align-middle bg-slate-200  w-24 h-8 text-sm text-center rounded-md hover:bg-slate-50 hover:shadow-slate-500 leading-normal outline-none transition duration-200;
}

.greenbtn {
    @apply mt-2 flex items-center justify-center font-lalezar align-middle bg-green-600 rounded-md w-52 h-8 text-xl  text-gray-300 hover:bg-green-500 hover:shadow-slate-500 leading-normal transition duration-200;
}

.mintwalletbtn {
    @apply flex items-center justify-center font-lalezar align-middle rounded-md  bg-slate-300 border-2 border-fuchsia-200 w-24 h-7 text-sm  text-gray-500 hover:bg-slate-100 hover:shadow-slate-500  transition duration-200;
}

.menu {
    @apply p-2 text-3xl active:translate-y-1 text-gray-600 hover:text-gray-800 font-lalezar disabled:text-black disabled:active:translate-y-0 hover:shadow-slate-500  transition duration-200
}

.orderbtn {
    @apply mt-2 flex items-center justify-center bg-green-600 font-lalezar rounded-md w-28 h-8 text-xl  text-gray-300 hover:bg-green-500 hover:shadow-slate-500 transition duration-200;
}

.disabledorderbtn {
    @apply mt-2 flex items-center justify-center font-lalezar align-middle bg-rose-800 rounded-lg w-28 h-8 text-xl  text-gray-300 hover:bg-rose-900 hover:shadow-slate-500 leading-normal transition duration-200;
}

.violetbtn {
    @apply mt-2 flex items-center justify-center font-lalezar align-middle bg-purple-500 rounded-md w-52 h-8 text-xl  text-gray-300 hover:bg-purple-600 hover:shadow-slate-500 leading-normal transition duration-200;
}


